<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Add Products</h1>
<form th:action="@{~/product/save}" method="post">
  <label>ID</label> <br>
  <input type="text" name="id" id="id"> <br/>

  <label>Kode</label> <br>
  <input type="text" name="code" id="code"> <br/>

  <label>Nama Product</label> <br>
  <input type="text" name="name" id="name"> <br/>

  <label>Kategory</label> <br>
  <input type="text" name="category" id="category"> <br/>

  <label>Keterangan</label> <br>
  <textarea name="description" id="description" rows="5" cols="20"> </textarea><br/>

  <label>Harga</label> <br>
  <input type="text" name="price" id="price"> <br/>

  <label>Stock</label> <br>
  <input type="text" name="stock" id="stock"> <br/>

  <button type="submit">Simpan</button>
</form>
</body>
</html>